* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  color: rgb(70, 70, 70);
}

main {
  min-height: 100vh;
}

nav {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 1rem;
}

section {
  min-height: 100vh;
  padding: 60px;
}

.container {
  display: flex;
  width: 85%;
  margin: auto;
  gap: 32px;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  flex-basis: calc(90% / 3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-holder {
  width: 100%;
}

.img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.card-title {
  text-align: center;
  font-size: 17px;
}

footer {
  background-color: rgb(70, 70, 70);
  color: rgb(239, 239, 239);
  padding: 1rem;
  text-align: center;
}

.explore {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}

.overlay {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 0.4s;
}

.active-modal {
  transform: translateX(0);
  pointer-events: all;
  opacity: 1;
  border-radius: 0;
}

.modal {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 70%;
  max-height: 750px;
  overflow-y: auto;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 16px;
  padding: 24px;
}

@media (max-width: 700px) {
  section {
    padding: 50px;
  }

  .container {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .card {
    flex-basis: calc(90% / 1);
  }
}
